html{
    height: 100vh;
}

body{
    margin: 0 0;
    background-color: dodgerblue;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    width: 1000px;
    border-radius: 1em;
    overflow: hidden;

}

th{
    padding-left: 30px;
    text-align: left;
    font-size:40px;
    font-weight: normal;
    color: lightgray;
    background-color: black;
    border-bottom: 5px solid gray !important;
}

td{
    font-size: 30px;
    padding-left: 30px;
    text-align: left;
    color: gray;
}

table,th,td {
    padding: 30px;
    border-collapse: collapse;
    font-family:  Calibri, serif;

}

tr:nth-child(odd){
    background-color: lightgray;
}

tr:nth-child(even){
    background-color:ghostwhite;
}

table td, table th {
    border: 2px solid gray;
}
table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0 ;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}