<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>
    <h1>Nutrition Store</h1>
    <ul>
        <li>Information</li>
        <li>Nutrition Store</li>
        <li>Trick Center</li>
        <li>Action History</li>
    </ul>
    <form th:action="'/nutritionStore?name='+${name}" method="post">
        <div>
            <label for="food">Food</label>
            <select name="food" id="food">
                <option value="pizza">Pizza</option>
                <option value="burger">Burger</option>
                <option value="sushie">Sushie</option>
            </select>
            <label for="drink">Drink</label>
            <select name="drink" id="drink">
                <option value="beer">Beer</option>
                <option value="wine">Wine</option>
                <option value="water">Water</option>
            </select>
            <input type="submit" value="Change">
        </div>
    </form>

</body>
</html>